#contentParagraphs {
    max-width: 1300px;
    margin: 150px auto;
    padding: 25px 35px 25px;
    background: linear-gradient(to left, #9453a6c0, #8cbf3fc0, #f2cc0fc0);
    box-shadow: 2px 2px 15px #000;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    h1 {
        text-align: center;
        font-size: 3.5rem;
        font-family: $ffTitle2;
        color: $blackColor;
        margin: 20px;
        text-shadow: 2px 2px 15px $yellowColor;
        word-spacing: 1.5px;
        letter-spacing: 3px;

        .mardiTitle {
            color: $purpleColor;
            text-shadow: 2px 2px 15px $whiteColor;
        }

        .mardiTitle2 {
            color: $yellowColor;
            text-shadow: 2px 2px 15px $blackColor;
        }

        @include desktop {
            font-size: 3rem;
        }

        @include tablet {
            font-size: 2.5rem;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    .row {
        .col-sm-12 {
            padding: 3%;
        }

        .spacePmedia {
            @include mobile {
                margin-top: 10px;
            }
        }

        .contentP {
            padding: 20px;
            text-align: center;
            word-spacing: 2px;
            line-height: 1.7;
            font-family: $ffText;
            color: $blackColor;
            font-size: 1.2em;
            box-shadow: 2px 2px 15px #000;
            background-color: #f2f2f2c8;
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
            transition: 0.3s;

            @include mobile {
                margin: 10px;
                font-size: 1em;
            }

            &:hover {
                transform: scale(110%);
                background-color: #8cbf3f;
                box-shadow: 5px -5px 20px $whiteColor;
            }
        }
    }
}