$blackColor:#0d0d0d;
$whiteColor:#f2f2f2;
$yellowColor:#f2cc0f;
$greenColor:#8cbf3f;
$purpleColor:#9453a6;
$ffTitle1: 'Pattaya';
$ffTitle2: 'Henny Penny';
$ffText: 'Roboto', sans-serif;
$marginContainers: 15% auto;
$padingContainers: 5%;